<button>{{!-- name of a veg/fruit --}}</button>
<button>{{!-- name of a veg/fruit --}}</button>
<button>{{!-- name of a veg/fruit --}}</button>
<button>{{!-- name of a veg/fruit --}}</button>
<button>{{!-- name of a veg/fruit --}}</button>