* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    margin: 0 auto;
    background-color: antiquewhite;
}

.cover{
    color: rgb(224, 119, 119);
    background: url(./bg.jpg);
    min-height: 900px;
    background-repeat: no-repeat;
}


.grid-container {
    width: 250px;
    height: 250px;
    background-color: grey;
    padding: 5px;

}

.top-row {
    display: flex;
    width: 250px;
    height:50%;
    background-color: aquamarine;
}

.bottom-row {
    display:flex;
    width: 250px;
    height:50%;
    background-color: red;
}

.x0-y0 {
    background-color: rgba(255,255,255,0.5);
    height: 100%;
    width: 50%;
}

.x1-y0 {
    background-color: rgba(255,255,255,0.3);
    height: 100%;
    width: 50%;
}

.x0-y1 {
    background-color: rgba(255,255,255,0.5);
    height: 100%;
    width: 50%;
}

.x1-y1 {
    background-color: rgba(255,255,255,0.7);
    height: 100%;
    width: 50%;
}

.container {
    color: red;
}


/* main page */

/* .mainpagebody {
    background-color: #000;
  } */
  
  #landing-header {
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 40vh;
  }
  
  #landing-header h1 {
    color: #fff;
  }
  
  .slideshow { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .slideshow li { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 50s linear infinite; 
  }
  
  .slideshow li:nth-child(1) { 
    background-image: url(http://dailytexangov.me/wp-content/uploads/2018/05/photo-of-a-fall-vegetable-garden-versatile-vegetables-for-gardening-indiana-yard-and-10-veggie.jpg) 
  }
  .slideshow li:nth-child(2) { 
    background-image: url(http://www.restorethelakes.org/wp-content/uploads/2017/10/raised-bed-vegetable-garden-4x4-plans-soil-veg.jpg);
    animation-delay: 10s; 
  }
  .slideshow li:nth-child(3) { 
    background-image: url(https://images1.laweekly.com/imager/u/745xauto/7970154/hso_hkam_garden_school3.jpg);
    animation-delay: 20s; 
  }
  .slideshow li:nth-child(4) { 
    background-image: url(http://www.parraparents.com.au/wp-content/uploads/2017/07/IMG_20170802_094631.jpg);
    animation-delay: 30s; 
  }
  .slideshow li:nth-child(5) { 
    background-image: url(http://www.restorethelakes.org/wp-content/uploads/2017/10/raised-bed-vegetable-garden-g-s-example-plans-how-to-build-small-ideas.jpg);
    animation-delay: 40s; 
  }
  
  @keyframes imageAnimation { 
    0% { 
      opacity: 0; 
      animation-timing-function: ease-in;
    }
    10% {
      opacity: 1;
      animation-timing-function: ease-out;
    }
    20% {
      opacity: 1
    }
    30% {
      opacity: 0
    }
  }
  
  /* Older browser support - .no-cssanimations class added by modernizr */
  .no-cssanimations .slideshow li {
      opacity: 1;
  }
  
#drag1 {
  width: 50px;
  height: 50px;
}

img {
  width: 50px;
  height: 50px;
}

#div1 {
  background-color: rgba(255,255,255,0.5);
    height: 100%;
    width: 50%;
    padding-top: 30px;
    padding-left: 30px;
    border: 1px solid black
}

#div2 {
  background-color: rgba(255,255,255,0.5);
    height: 100%;
    width: 50%;
    padding-top: 30px;
    padding-left: 30px;
    border: 1px solid black
}

#div3 {
  background-color: rgba(255,255,255,0.5);
    height: 100%;
    width: 50%;
    padding-top: 30px;
    padding-left: 30px;
    border: 1px solid black
}

#div4 {
  background-color: rgba(255,255,255,0.5);
    height: 100%;
    width: 50%;
    padding-top: 30px;
    padding-left: 30px;
    border: 1px solid black
}